<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<nav>
    <ul>
        <li>
            <a href="/auth/login">Login</a>
        </li>
        <li>
            <a href="/auth/registration">Reg</a>
            </li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog/all">Articles</a>
        </li>
        <li>
            <a href="/auth/logout">Log Out</a>
        </li>
        <li>
            <a href="/blog/my_articles">My Articles</a>
        </li>
    </ul>
</nav>
<body>
    {{{body}}}
</body>
</html>